.cardContainer {
  margin: 20px; 
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr)); 
  gap: 14px; 
}

.customCardSize {
  padding: 8px;
  width: 100%; 
  max-width: 315px; 
  height: 316px; 
}

.largerAvatar {
  width: 110px; 
  height: 110px; 
}

.card {
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.cardContainer > .card > div {
  margin-top: var(--mantine-spacing-sm);
}


.customButton {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px; /* Decreased font size */
}



@media (min-width: 950px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 949px) and (min-width: 766px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 765px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
